<!DOCTYPE html>
<html>
<head>
    <title>Search Results &bull; Logbot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
    <script src="https://use.fontawesome.com/337fb33ac6.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=201610241153">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=201610241153" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=201610241153" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=201610241153">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=201610241153" color="#468fcc">
    <link rel="shortcut icon" href="/favicon.ico?v=201610241153">

    <meta name="author" content="XeliteXirish">
    <meta name="description" content="Open-Source dev team">

    <meta name="apple-mobile-web-app-title" content="Logbot">
    <meta name="application-name" content="Logbot">
    <meta name="theme-color" content="#00c0fc">
</head>

<body>

<script>
    var searchResults = <%- JSON.stringify(searchResults) %>
        console.log(searchResults)
</script>

<section id="hero_section" class="hero is-dark is-medium">
    <div class="hero-head">
        <nav class="nav has-shadow">
            <div class="container">

                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                </span>

                <div class="nav-center">
                    <%- include partials/username.ejs %>
                </div>

                <div class="nav-right nav-menu">
                    <a class="nav-item" href="/">Home</a>
                    <a class="nav-item" href="/servers">Servers</a>
                    <a class="nav-item is-active" href="/search">Search</a>

                    <p class="nav-item control has-addons">
                        <a class="button is-info is-outlines" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Add</span>
                        </a>

                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Logbot v2
            </h1>
            <h2 class="subtitle is-4">
                <span>Keep track of what all you're users are doing on other servers!</span>
            </h2>
        </div>
    </div>
</section>

<section class="hero is-small is-info is-bold">
    <div class="hero-body">
        <div class="heading has-text-centered">
            <h1 class="title"><strong>~ Search Results ~</strong></h1>
            <h2 class="subtitle">Displayed below are your custom search results!</h2>
        </div>
        <% if (searchResults) { %>
        <p style="float:right; margin-right: 15px;">
            <small><strong><i>Displayed below are <%= searchResults.length %> results!</i></strong></small>
        </p>
        <% } %>
    </div>
</section>

<section class="section">

    <table class="table is-stripped">
        <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Guild Name</th>
            <th>Channel</th>
            <th>Date</th>
            <th>Message</th>
        </tr>
        </thead>

        <tbody>

        <% if (searchResults) { for (let x = 0; x < searchResults.length; x++) { %>

        <tr>
            <td></td>
            <td style="overflow: hidden;"><strong><%= searchResults[x].authorName %></strong></td>
            <td style="white-space: nowrap; overflow: hidden;">
                <small><%= searchResults[x].serverName %></small>
            </td>
            <td style="white-space: nowrap; overflow: hidden;"><%= searchResults[x].channelName %></td>
            <td style="white-space: nowrap; overflow: hidden;"><%= searchResults[x].date %></td>
            <td><%= searchResults[x].message %></td>
        </tr>

        <% } } %>
        </tbody>
    </table>

    <% if (!searchResults) { %>
    <div class="notification is-danger has-text-centered">
        <b> ~ Sorry but no search results have been found... please refine your search preferences! ~ </b>
        <br>
    </div>

    <% } %>

</section>

</body>
</html>