<!DOCTYPE html>
<html>
<head>
    <title><%- guildName %> &bull; Logbot</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/serverMsg.css">
    <link rel="stylesheet" href="/css/loading.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=201610241153">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=201610241153" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=201610241153" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=201610241153">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=201610241153" color="#468fcc">
    <link rel="shortcut icon" href="/favicon.ico?v=201610241153">

    <meta name="author" content="XeliteXirish">
    <meta name="description" content="Open-Source dev team">

    <meta name="apple-mobile-web-app-title" content="Logbot">
    <meta name="application-name" content="Logbot">
    <meta name="theme-color" content="#00c0fc">
</head>

<body>

<%# Have to do it here before using the variable!%>
<script>
    var serverMessages = JSON.parse(<%- serverMessages %>);
    var guildName = '<%- guildName %>';
    var guildChannels = JSON.parse('<%- guildChannels %>');
    var guildChannelsLength = JSON.parse(<%- guildChannelsLength %>);
    var entriesPerPage = <%- entriesPerPage %>
</script>

<section id="hero_section" class="hero is-dark is-medium">
    <div class="hero-head">
        <nav class="nav has-shadow">
            <div class="container">

                <div class="nav-left">
                    <%- include partials/title.ejs %>
                </div>

                <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                </span>

                <div class="nav-right nav-menu">
                    <a class="nav-item" href="/">Home</a>
                    <a class="nav-item is-active" href="/servers">Servers</a>

                    <p class="nav-item control has-addons">
                        <a class="button is-info is-outlines" href="/add">
                            <span class="icon is-small">
                                <i class="fa fa-plus"></i>
                            </span>
                            <span>Add</span>
                        </a>

                        <%- include partials/login.ejs %>
                    </p>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Logbot v2
            </h1>
            <h2 class="subtitle is-4">
                <span><b>&bull;<%- guildName %></b> - Logging <%- guildChannelsLength %> channels!</span>
            </h2>
        </div>
    </div>
</section>

<div class="columns">
    <aside class="column is-2 aside hero">
        <div class="main">
            <div class="title">Text Channels</div>

            <a id="allChannels" onclick='changeChannelView("ALL")' class="item is-active">
                <span class="name"><b>All Channels</b></span>
            </a>

            <% for(var x = 0; x < JSON.parse(guildChannels).length; x++) { %>
            <a id='channelId_<% JSON.parse(guildChannels)[x].id %>'
               onclick="changeChannelView(JSON.parse(guildChannels)[x].id)" class="item"></a>
            <span class="name"><%- JSON.parse(guildChannels)[x].name %></span>
            <% } %>

        </div>
    </aside>

    <div class="column">

        <table class="table is-stripped">
            <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Channel</th>
                <th>Date</th>
                <th>Message</th>
            </tr>
            </thead>

            <tbody id="message_list_table">

            </tbody>
        </table>

        <div class="container has-text-centered" id="loadingSpinner">
            <br><br><br><br>
            <div class="windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall"></div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall"></div>
                </div>
            </div>
            <br><br><br><br>
        </div>

        <div class="container" style="float: right; margin-right: 10px">
            <small id="totalEntries"><b><i><%- serverMessages.length %></i> total entries!</b></small>
        </div>

        <div class="has-text-centered">
            <a id="buttonBack" class="button" onclick="loadPreviousPage()">
                <span class="icon is-small">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </span>
                <span>Back</span>
            </a>

            <a id="buttonNext" class="button" onclick="loadNextPage()">
                <span>Next</span>
                <span class="icon is-small">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
            </a>
        </div>

    </div>

</div>

<script src="/js/serverMsg.js"></script>

</body>